service: serverless-todo-app
frameworkVersion: '4'

plugins:
  - serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    TODOS_TABLE: Todos-${sls:stage}
    TODOS_CREATED_AT_INDEX: CreatedAtIndex
    WEB_ORIGIN: https://todo-app-chi-livid.vercel.app
    ATTACHMENT_S3_BUCKET: serverless-c4-todo-images-${sls:stage}-123
    SIGNED_URL_EXPIRATION: 300
    AUTH0_JWKS_URL: https://dev-0qycn7y76i5r6i1x.us.auth0.com/.well-known/jwks.json
    AUTH0_ISSUER: https://dev-0qycn7y76i5r6i1x.us.auth0.com/
    AUTH0_AUDIENCE: https://y12yfazgkj.execute-api.us-east-1.amazonaws.com/dev
    AUTH0_DOMAIN: dev-0qycn7y76i5r6i1x.us.auth0.com


functions:
  Auth:
    handler: src/lambda/auth/auth0Authorizer.handler
    iamRoleStatements: []

  GetTodos:
    handler: src/lambda/http/getTodos.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource:
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}/index/CreatedAtIndex
    events:
      - http:
          method: get
          path: todos
          authorizer: 
            name: Auth
            resultTtlInSeconds: 0
          cors:
            origin: https://todo-app-chi-livid.vercel.app
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true  
    
  CreateTodo:
    handler: src/lambda/http/createTodo.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:PutItem
        Resource:
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}
    events:
      - http:
          method: post
          path: todos
          authorizer: 
            name: Auth
            resultTtlInSeconds: 0
          cors:
            origin: https://todo-app-chi-livid.vercel.app
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true

  UpdateTodo:
    handler: src/lambda/http/updateTodo.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}
    events:
      - http:
          method: patch
          path: todos/{todoId}
          authorizer: 
            name: Auth
            resultTtlInSeconds: 0
          cors:
            origin: https://todo-app-chi-livid.vercel.app
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true

  DeleteTodo:
    handler: src/lambda/http/deleteTodo.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:DeleteItem
        Resource:
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}
    events:
      - http:
          method: delete
          path: todos/{todoId}
          authorizer: 
            name: Auth
            resultTtlInSeconds: 0
          cors:
            origin: https://todo-app-chi-livid.vercel.app
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true

  GenerateUploadUrl:
    handler: src/lambda/http/generateUploadUrl.handler
    iamRoleStatements:
      - Effect: Allow
        Action:
          - s3:PutObject
          - s3:GetObject
        Resource:
          - arn:aws:s3:::serverless-c4-todo-images-${sls:stage}-123
          - arn:aws:s3:::serverless-c4-todo-images-${sls:stage}-123/*
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource:
          - arn:aws:dynamodb:${self:provider.region}:*:table/Todos-${sls:stage}
    events:
      - http:
          method: post
          path: todos/{todoId}/attachment
          authorizer: 
            name: Auth
            resultTtlInSeconds: 0
          cors:
            origin: https://todo-app-chi-livid.vercel.app
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
resources:
  Resources:
    TodosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: todoId
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: todoId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: Todos-${sls:stage}
        LocalSecondaryIndexes:
          - IndexName: CreatedAtIndex
            KeySchema:
              - AttributeName: userId
                KeyType: HASH
              - AttributeName: createdAt
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    AttachmentsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: serverless-c4-todo-images-${sls:stage}-123
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins:
                - '*'
              AllowedHeaders:
                - '*'
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              MaxAge: 3000
    
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: ApiGatewayRestApi
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"

    GatewayResponseDefault5XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseType: DEFAULT_5XX
        RestApiId:
          Ref: ApiGatewayRestApi
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
